In [3]:
import pandas as pd
from datetime import datetime

In [9]:
df_ucraine_trolls = pd.read_csv('dataset_completo_bruto/dataset_completo_bruto_v3.0.csv')
df_ucraine_trolls.reset_index(drop=True)

,ID,Fecha_de_creacion_usuario,Fecha_creacion_del_tweet,nombre_usuario,texto,localizacion,numero_seguidores,numero_seguidos,numero_retweets,numero_favoritos,menciones,retweet
0,1632454841023823874,2012-01-04 17:11:08+00:00,2023-03-05 18:55:38+00:00,ben_burnside,RT @CalibreObscura: Only in #Ukraine: A PM M19...,UK,684,90,9,34299,['CalibreObscura'],CalibreObscura
1,1632454835143360521,2022-04-26 04:09:08+00:00,2023-03-05 18:55:36+00:00,cjostein,RT @TruthPuke: #NATO military equipment in the...,Oslo,1042,207,90,15933,['TruthPuke'],TruthPuke
2,1632454826435960832,2015-08-20 23:12:55+00:00,2023-03-05 18:55:34+00:00,glyphfix,RT @thedailysummary: Russian shelling hits Ukr...,NaN,1379,430,1,45478,"['thedailysummary', 'AP']",thedailysummary
3,1632454822300459008,2011-01-31 03:21:31+00:00,2023-03-05 18:55:33+00:00,clyntonK1,RT @intermarium24: Soldier gets awarded with g...,NaN,520,277,70,80587,['intermarium24'],intermarium24
4,1632454820605972482,2011-05-21 14:06:22+00:00,2023-03-05 18:55:33+00:00,LyndonRosser,"RT @UAWeapons: #Ukraine: In the East, an aband...",Caerdydd/Hirwaun,2340,1717,32,399708,['UAWeapons'],UAWeapons
...,...,...,...,...,...,...,...,...,...,...,...,...
2845,1632448952799834114,2018-05-03 21:12:52+00:00,2023-03-05 18:32:14+00:00,carp40404,RT @nexta_tv: The war has caused 76.5 billion ...,NaN,4832,3251,72,56816,['nexta_tv'],nexta_tv
2846,1632448950899712003,2021-01-18 04:57:57+00:00,2023-03-05 18:32:13+00:00,AnjaJaeger2,RT @PStyle0ne1: Ukraine will receive more than...,"Zürich, Schweiz",2211,984,25,80875,['PStyle0ne1'],PStyle0ne1
2847,1632448932549738497,2011-06-17 22:26:19+00:00,2023-03-05 18:32:09+00:00,bill_fortune,RT @ClearBlueSee: A woman leaves her abusive e...,Scotland,160,228,17,20845,['ClearBlueSee'],ClearBlueSee
2848,1632448925516042240,2008-11-30 17:35:36+00:00,2023-03-05 18:32:07+00:00,raouldukeesq,"RT @GlasnostGone: Russia's killed #Ukraine's ""...",NaN,176,23,161,2229,['GlasnostGone'],GlasnostGone
2849,1632448922999193600,2014-05-10 21:20:51+00:00,2023-03-05 18:32:07+00:00,SolidarityRnwd,RT @KramarenkoMari3: Russia began using the ne...,"Nottingham, England",3194,2965,57,170589,['KramarenkoMari3'],KramarenkoMari3

In [10]:
df_ucraine_trolls.to_csv("data_para_tabla.csv")

In [5]:
df_ucraine_trolls['Fecha_creacion_del_tweet'] = pd.to_datetime(df_ucraine_trolls['Fecha_creacion_del_tweet'])
df_ucraine_trolls['Fecha_creacion_del_tweet']

0      2023-03-05 18:55:38+00:00
1      2023-03-05 18:55:36+00:00
2      2023-03-05 18:55:34+00:00
3      2023-03-05 18:55:33+00:00
4      2023-03-05 18:55:33+00:00
                  ...
2845   2023-03-05 18:32:14+00:00
2846   2023-03-05 18:32:13+00:00
2847   2023-03-05 18:32:09+00:00
2848   2023-03-05 18:32:07+00:00
2849   2023-03-05 18:32:07+00:00
Name: Fecha_creacion_del_tweet, Length: 2850, dtype: datetime64[ns, UTC]

## TRANSFORMACION PARA KPIS

In [8]:
retweets_list = df_ucraine_trolls['numero_retweets'].tolist()
total_retweets = pd.DataFrame({'numero_retweets': retweets_list}).sum()
total_retweets

numero_retweets    556353
dtype: int64

In [9]:
total_retweets.to_json('retweets.json')

## TRANSFORMACION PARA TIME SERIES

In [31]:
time_series_tweets = df_ucraine_trolls.groupby(['Fecha_creacion_del_tweet', 'nombre_usuario'])['numero_retweets'].sum().reset_index()
time_series_tweets = time_series_tweets.rename(columns={'fecha': 'fecha', 'nombre_usuario': 'nombre_usuario', 'retweets': 'numero_retweets'})

time_series_tweets['mes_y_anio'] = time_series_tweets['Fecha_creacion_del_tweet'].apply(lambda x: datetime.strftime(x, '%m %B'))
time_series_tweets

      Fecha_creacion_del_tweet   nombre_usuario  numero_retweets mes_y_anio
0    2023-03-05 18:19:22+00:00        tcevans87               23   03 March
1    2023-03-05 18:19:24+00:00    MarshWatching               23   03 March
2    2023-03-05 18:19:24+00:00       juiceobox1             4229   03 March
3    2023-03-05 18:19:34+00:00        HiHikeep4                0   03 March
4    2023-03-05 18:19:36+00:00     bearbeardFIN               71   03 March
...                        ...              ...              ...        ...
1266 2023-03-05 19:06:33+00:00     YearsStrange               51   03 March
1267 2023-03-05 19:06:37+00:00     totalplan_hu             4234   03 March
1268 2023-03-05 19:06:39+00:00  JeanneMReinhart              640   03 March
1269 2023-03-05 19:06:40+00:00          HewanHS               48   03 March
1270 2023-03-05 19:06:45+00:00      G__Makowski               25   03 March

[1271 rows x 4 columns]

In [34]:
time_series_tweets.to_csv('time_series_tweets.csv')

In [35]:
time_series_tweets.to_json('time_series_tweets.json')

## TRANSFORMACION PARA GRAFICA DE BARRAS